<li class="clearfix record">
  <div class="detail">
    <span class="title">
      <%= link_to inquiry.name, refinery.admin_inquiries_inquiry_path(inquiry) %> <%= t('.said') %>
    </span>
    <span class="preview"><%= truncate(strip_tags(sanitize(inquiry.message)), :length => 60) -%></span>
  </div>
  <span class="actions">

    <%= link_to t('.read_inquiry'),
                refinery.admin_inquiries_inquiry_path(inquiry),
                :class => 'icon-small detail-icon',
                :title => t('.read_inquiry') -%>



    <% if list_type == 'index' %>

      <%= link_to t('archive', :scope => 'refinery.admin.record'),
                  refinery.toggle_archive_admin_inquiries_inquiry_path(inquiry),
                  :class => "archive icon-small folder-icon",
                  :title => t('archive', :scope => 'refinery.admin.record') -%>

      <%= link_to t('.mark_as_spam'),
                  refinery.toggle_spam_admin_inquiries_inquiry_path(inquiry),
                  :class => 'icon-small spam-icon',
                  :title => t('.mark_as_spam') -%>
    <% elsif list_type == 'spam' %>
      <%= link_to t('.mark_as_ham'),
                  refinery.toggle_spam_admin_inquiries_inquiry_path(inquiry),
                  :class => 'icon-small email-icon',
                  :title => t('.mark_as_ham') -%>
    <% end %>

    <%= link_to t('delete', :scope => 'refinery.admin.record'),
                refinery.admin_inquiries_inquiry_path(inquiry),
                :class => "delete confirm-delete icon-small delete-icon",
                :title => t('refinery.admin.inquiries.inquiries.delete'),
                :data => {
                  :remote => true,
                  #:confirm => t('refinery.admin.delete.message', :title => inquiry.name)
                },
                :method => :delete -%>
  </span>
</li>
